---
title: The Rainbows
author: Hardi Koortzen
date: '2019-05-30'
slug: the-rainbows.en-gb
categories:
  - General
tags:
  - Dogs
  - R
type: ''
subtitle: ''
image: ''
---



<p>We are getting a new dog. This was a long time coming, and it is finally time to get another dog. We already have a <a href="https://en.wikipedia.org/wiki/Miniature_Pinscher">Miniature Pinscher</a> named <em>Coco</em>. She is a good dog, although, true to her breed, and as such, our post comes with bite marks. She can be a bit annoying, as they tend to bark quite a bit. She has been lonely, and now it is time to get her someone to growl at, and maybe share a sofa. Our puppies will be a <a href="https://en.wikipedia.org/wiki/Rhodesian_Ridgeback">Rhodesian Ridgeback</a>. Although the pup is not yet with us, he is already named, <em>Zuko</em>. He has a lovely breeder, and we are part of their Facebook page. We were late to the party, since some of the new owners was already waiting for their pups. We were also very lucky, since there were more puppies than what was originally thought, so we could have one. It was an interesting experience so far. We were screened, to make sure we will look after him, with love and care, and also needed the ‘approval’ of their male Rhodesian Ridgeback, which was so big and so lovely, that I just wanted to take him home. In the end, this was all worth it, since we will be getting <em>Ernie</em> from the <em>Rainbows</em> on Friday the 31st of May 2019. The household is generally so excited. We will not be getting too much sleep Friday evening, since we need to also introduce him to <em>Coco</em>, and make sure he his settled in properly.</p>
<p>Although this seems fun, I would rather look at some interesting things on how the puppies developed. The breeders are such lovely people, and they went through so much trouble to keep us updated, daily pictures, etc. One thing that was truly interesting was the growth of the puppies. These are big dogs, and as such needs to develop into their size. Let’s look at the weights of the puppies.</p>
<div class="figure" style="text-align: center"><span id="fig:fig-mass-points"></span>
<img src="/post/2019-05-30-the-rainbows.en-gb_files/figure-html/fig-mass-points-1.png" alt="The weights of the puppies, by sex. The highlighted points is for Zuko." width="95%" />
<p class="caption">
Figure 1: The weights of the puppies, by sex. The highlighted points is for Zuko.
</p>
</div>
<p>Figure <a href="#fig:fig-mass-points">1</a> shows that the puppies have an exponential growth for the first 8 weeks. We will keep weighing Zuko, and see how this change. The graph should tapper off, however, I am not sure how long this will take. Before signing off, just a few pictures of our new puppy.</p>
<p><img src="/post/2019-05-27-the-rainbows.en-gb_files/IMG_0966.JPG" style="width:50.0%" /></p>
<p><img src="/post/2019-05-30-the-rainbows.en-gb_files/IMG_0973.JPG" style="width:50.0%" /></p>
<p><img src="/post/2019-05-30-the-rainbows.en-gb_files/IMG_0974.JPG" style="width:50.0%" /></p>
<p><img src="/post/2019-05-30-the-rainbows.en-gb_files/IMG_0975.JPG" style="width:50.0%" /></p>
<p><img src="/post/2019-05-30-the-rainbows.en-gb_files/IMG_0976.JPG" style="width:50.0%" /></p>
